{#
  /**
  * @file
  * Template for Maestro notification preview.
  *
  * Available variables:
  * - preview_urls: The preview URLs
  *   - prev: Previous submission preview URL (if any)
  *   - self: The current preview URL (if any)
  *   - next: Next submission preview URL (if any)
  * - webform: The webform
  * - handler: The handler ID
  * - notification_type: The notification type (assignment, reminder, escalation)
  * - content_type: The content type (email, pdf)
  * - submission: The submission ID
  * - return_url: The return URL (to list of webform handlers)
  * - render_url: The render URL to render the actual preview
  */
  #}
<div class="os2forms-forloeb-notification-preview">
  <style>
    .os2forms-forloeb-notification-preview .navigation,
    .os2forms-forloeb-notification-preview .header {
      display: flex;
      justify-content: space-between;
    }

    .os2forms-forloeb-notification-preview a.active {
      font-weight: bold;
    }

    .os2forms-forloeb-notification-preview .preview {
      width: 100%;
      height: 40em;
    }
  </style>

  <div class="navigation">
    <div class="paging">
      {% if preview_urls.prev %}
        <a href="{{ preview_urls.prev }}">{{ 'Previous submission'|t }}</a>
      {% endif %}
      {% if preview_urls.next %}
        <a href="{{ preview_urls.next }}">{{ 'Next submission'|t }}</a>
      {% endif %}
    </div>

    <div class="content-type">
      {% for type in ['email', 'pdf'] %}
        {% if not loop.first %} | {% endif %}
        <a class="{{ content_type == type ? 'active' }}"
           href="{{ url('os2forms_forloeb.meastro_notification.preview', {
                    webform: webform.id,
                    handler: handler.getHandlerId,
                    notification_type: notification_type,
                    content_type: type,
                    submission: submission}) }}">{{ type }}</a>
      {% endfor %}
    </div>

    <div class="notification-type">
      {% for type in handler.getEnabledNotifications() %}
        {% if not loop.first %} | {% endif %}
        <a class="{{ notification_type == type ? 'active' }}"
           href="{{ url('os2forms_forloeb.meastro_notification.preview', {
                    webform: webform.id,
                    handler: handler.getHandlerId,
                    notification_type: type,
                    content_type: content_type,
                    submission: submission}) }}">{{ type }}</a>
      {% endfor %}
    </div>

    <div class="return">
      <a href="{{ return_url }}">{{ 'Back to webform handlers'|t }}</a>
    </div>
  </div>

  <div class="header">
    <div>{{ 'Subject'|t }}: {{ subject }}</div>
    <div>{{ 'Recipient'|t }}: {{ recipient }}</div>
  </div>

  {% if render_url %}
    <iframe class="preview" src="{{ render_url }}"></iframe>
  {% endif %}
</div>
