{#
/**
 * @file
 * Template for Maestro notification PDF.
 *
 * Available variables:
 * - message: The notification message
 *   - subject: the notification subject
 *   - header:  the notification header
 *   - colophon: the notification colophon
 *   - footer: the notification footer
 *   - content: the notification content. Must be rendered as `processed_text`, i.e.:
 *     @code
 *       {{ {
 *       '#type':   'processed_text',
 *       '#text':    message.content.value,
 *       '#format':  message.content.format,
 *       } }}
 *     @endcode
 * - notification_type: The type of notification ()
 * - task_url: URL of the task.
 * - action_label: Optional label for the task action.
 */
#}
<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ message.subject }}</title>
    <style>
      @page {
        size: a4 portrait;
        margin: 40mm 20mm;
      }

      header {
        position: fixed;
        top: -30mm;
        left: 0;
        right: 0;
        height: 20mm;
        font-size: 12px;

      }

      header img {
        height: 100%;
      }

      footer {
        position: fixed;
        bottom: -20mm;
        left: 0;
        right: 0;
        height: 20mm;
        font-size: 12px;
      }

      footer img {
        height: 100%;
      }

      .webform-entity-print-body {
        float: left;
        font-size: 14px;
      }

      .webform-entity-print-body-with-colophon {
        float: left;
        font-size: 14px;
        width: 70%;
      }

      .webform-entity-print-colophon {
        margin-top: 2px;
        line-height: 1.4;
        float:right;
        width:27%;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    {% if message.header %}
      <header>
        {{ message.header }}
      </header>
    {% endif %}

    {% if message.footer %}
      <footer>
        {{ message.footer }}
      </footer>
    {% endif %}

    {% if message.colophon %}
      <div class="webform-entity-print-colophon">
        {{ message.colophon }}
      </div>
    {% endif %}

    <main class="webform-entity-print-body{{ message.colophon ? '-with-colophon' : '' }}">
      {# @see https://api.drupal.org/api/drupal/core%21modules%21filter%21filter.module/function/check_markup/9 #}
      {{ {
        '#type':   'processed_text',
        '#text':    message.content.value,
        '#format':  message.content.format,
      } }}
    </main>

  </body>
</html>
