<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ title }}">
  <meta name="keywords" content="Selvbetjening">
  <meta name="author" content="{{ author }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" media="all" href="{{ base_url }}/themes/custom/os2forms_selvbetjening_theme/assets/pdf.css" />
</head>
<body>
{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{% if footer %}
  <footer>
    {{ footer }}
    <div class="page-numbers">
      <span>{{ 'Page'|t }}</span>
      <span class="page-number">
        {# Page number inserted by css. #}
      </span>
      <span>{{ 'of'|t }}</span>
      <span class="page-count">
      {# String replace is done by by entity_print_module #}
        {{ '@@PC' }}
      </span>
    </div>
  </footer>
{% endif %}

<div class="page">
  {{ submission_renderable }}
</div>

{% if debug %}
  {{ dump() }}
{% endif %}

</body>
</html>
